# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# Datasets
*.csv
datasets/*.csv
!datasets/sample.csv

# Modelos
*.h5
*.pkl
models/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env

